@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin shadowY($x-axis, $y-axis, $blur, $opacity) {
    box-shadow: $x-axis $y-axis $blur rgba($color-black, $opacity);
}
